{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gab{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container">
        <div class="row justify-content-center min-vh-100 align-items-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body p-5">
                        <div class="mb-5">
                            <img src="{% static "bridge/logo.png" %}" class="img-fluid" alt="Logo de l'app GAB">
                        </div>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <script>
        let timer;

        document.getElementById('transactionForm').addEventListener('submit', function(e) {
            const modal = new bootstrap.Modal(document.getElementById('loadingModal'));
            modal.show();
            setTimeout(() => {
                this.submit();
            }, 1000);
            e.preventDefault();
        });

        function resetTimer() {
            clearTimeout(timer);
            timer = setTimeout(() => window.location.href = '{% url "bridge:logout" %}', 300000);
        }

        document.addEventListener('mousemove', resetTimer);
        document.addEventListener('keypress', resetTimer);
        resetTimer();
    </script>
</html>